$black: #000;
$grey: #a0a0a0;
$blue: #6fb3aa;
$darkGrey: #303030;

@mixin mq($size){
  @if $size == tablet{
    @media (min-width: 600px){@content;}
  }
  @else if $size == desktop{
    @media (min-width: 1000px){@content;}
  }
}

//NavBar Styling

.nav{
  background-color: $darkGrey;
}
